:root {
     --branco-principal: #FFFFFF;
     --cinza-secundario: #C0C0C0;
     --botao-azul: #167FB7;
     --cor-de-fundo: #00030C;
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}